In [63]:
import pandas as pd
import numpy as np
import numpy as np 
from sklearn import datasets 
from sklearn.pipeline import Pipeline 
from sklearn.preprocessing import StandardScaler 
from sklearn.svm import LinearSVC

test_or_product="product"
er = pd.read_csv("../data/"+test_or_product+"/er.csv")
ka = pd.read_csv("../data/"+test_or_product+"/ka.csv")
er['cinsiyet']="e"
ka['cinsiyet']="k"
df = pd.concat([er,ka])
df.sample(3)

       isim cinsiyet
69     ebru        k
357  sevban        e
110    erol        e

In [64]:
def letter_to_int(letter):
    alphabet = list('abcçdefgğhıijklmnoöpqrsşstuüvwxyz ')
    return alphabet.index(letter) + 1

def string_to_characters(string):
    return ([x for x in string])

max_isim_uzunlugu = 15
def name_and_sex_to_number(string,sex_as_ek):
    x = string_to_characters(string)
    numbers = [letter_to_int(m) for m in x]
    # add additional zeros
    
    for i in range((max_isim_uzunlugu-len(numbers))):
        numbers.append(0)
    #add sex
    sex= 0 if sex_as_ek =='e' else 1
    numbers.append(sex)
    return(numbers)
(name_and_sex_to_number("su","k"))

[23, 27, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]

In [65]:
df.sample(3)

       isim cinsiyet
175   leman        k
115   eşref        e
135  ferhan        e

In [66]:
columns=list(range(0,max_isim_uzunlugu))
columns.append("is_female")
print(columns)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 'is_female']

In [67]:
rows = []


for index, row in df.iterrows():
    abjad = name_and_sex_to_number(row['isim'],row['cinsiyet'])
    rows.append(abjad)
    #print(abjad)
dfx = pd.DataFrame(rows, columns=columns)

In [68]:
dfx = pd.DataFrame(rows, columns=columns)
dfx.sample(3)

      0   1   2   3   4   5  6  7   8   9  10  11  12  13  14  is_female
60    3   6  16   1  15   6  5  5  12  17   0   0   0   0   0          0
732  17  27  22  24   6  17  0  0   0   0   0   0   0   0   0          1
565   8  28  15  26   6  22  0  0   0   0   0   0   0   0   0          1

In [69]:
#dfx.head()
columns_without_sex=list(range(0,max_isim_uzunlugu))
is_female = dfx.loc[:,'is_female']
hx =dfx.loc[:,columns_without_sex]

In [70]:
y = np.array(is_female)
X = np.array(hx)
#X,y

In [71]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.2, random_state=0)

In [72]:
from sklearn.tree import DecisionTreeClassifier
clf =  DecisionTreeClassifier(max_depth=max_isim_uzunlugu) 
clf.fit(X, y) 
clf.score(X_test, y_test)

0.9882352941176471

In [73]:
test_name = "dilara"
test_name_abjad = name_and_sex_to_number(test_name,1)[0:max_isim_uzunlugu]
test_name_abjad
sonuc = np.asscalar(clf.predict([test_name_abjad]))
test_name+" kadin:"+str(sonuc) if sonuc  == 1 else test_name+" erkek:"+str(sonuc)

'dilara kadin:1'

In [74]:
name_and_sex_to_number("suat","e")

[23, 27, 1, 26, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [75]:
# To support both python 2 and python 3
from __future__ import division, print_function, unicode_literals

# Common imports
import numpy as np
import os

# to make this notebook's output stable across runs
np.random.seed(42)

# To plot pretty figures
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
plt.rcParams['axes.labelsize'] = 14
plt.rcParams['xtick.labelsize'] = 12
plt.rcParams['ytick.labelsize'] = 12

# Where to save the figures
PROJECT_ROOT_DIR = "."
CHAPTER_ID = "decision_trees"

def image_path(fig_id):
    return os.path.join(PROJECT_ROOT_DIR, "images", CHAPTER_ID, fig_id)

def save_fig(fig_id, tight_layout=True):
    print("Saving figure", fig_id)
    if tight_layout:
        plt.tight_layout()
    plt.savefig(image_path(fig_id) + ".png", format='png', dpi=300)
from sklearn import tree

tree.export_graphviz(        
    clf,        
    out_file=image_path("C:\\Users\\suat.atan\\Dropbox\\NOW\\05-Yazilim\\gender_prediction_from_names\\output\\gender_decision_tree.dot"),        
    feature_names=columns_without_sex,        
    class_names=['erkek','kadin'],        
    rounded=True,        
    filled=True)

In [77]:
# Model Export

from sklearn.externals import joblib
#joblib.dump(tfidfVectorizer, 'tfidfVectorizer.pkl')
joblib.dump(clf, 'C:\\Users\\suat.atan\\Dropbox\\NOW\\05-Yazilim\\gender_prediction_from_names\\output\\classifier.pkl')

['C:\\Users\\suat.atan\\Dropbox\\NOW\\05-Yazilim\\gender_prediction_from_names\\output\\classifier.pkl']

In [78]:
import platform
print(platform.python_version())

3.7.1